<nav class="navbar navbar-light bg-light navbar-expand mb-4">
    <a class="navbar-brand" href="/"><%=title%></a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/lobbys">Lobby</a>
        </li>
    </ul>
    <% if (typeof username !== 'undefined') { %>
    <span class="navbar-text">
        <%= username %>
    </span>
    <% } %>
</nav>