<!DOCTYPE html>
<html>
<head>
    <title>BattleShips</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <% include header.ejs %>
        <form action="/" method="post" class="col-sm-12 col-lg-6">
            <label for="username">Username:</label>
            <div class="input-group ">
                <span class="input-group-addon">@</span>
                <input id="username" name="username" type="text" class="form-control" placeholder="Username" aria-label="Username"
                       required="required" autofocus="autofocus" />
                <span class="input-group-btn">
                  <button class="btn btn-success" type="submit">Go!</button>
                </span>
            </div>
            <% if (taken) { %>
            <div class="alert alert-danger">
                <strong>Warning!</strong> That username is taken.
            </div>
            <% } %>
        </form>
    </div>
</body>
</html>
