table.board
{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: lightskyblue;
}
table.board.active
{
    cursor: pointer;
}
table.board.active td:hover
{
    background-color: #eee;
}
table.board:not(.enemy-board) td.ship
{
    background-color: #ddd;
}
table.board td.shipStart
{
    background-color: #ccc;
}
table.board.enemy-board.disabled, table.board.enemy-board[disabled]
{
    background-color: lightsteelblue;
}
table.board.enemy-board td.hit
{
    background-color: red;
}
table.board.enemy-board td.miss
{
    background-color: white;
}
table.ship-list tbody
{
    cursor: pointer;
}
ul.nav-tabs a
{
    cursor: pointer;
}