body
{
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a
{
  color: #00B7FF;
}

.form-control:focus
{
    box-shadow: none;
}

tr[data-id]
{
    cursor: pointer;
}

button
{
    cursor: pointer;
}

button[disabled]
{
    cursor: not-allowed;
}

table tr:hover a:not(.btn)
{
    text-decoration: underline;
}